.container {
  height: calc(100vh - 64px - 68px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #4fcccc 0%, #5525d8 100%);
  .info {
    text-align: center;
    button {
      height: 60px;
      font-size: 24px;
    }
  }
}
