.wrapper {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #f0f0f0;
  padding: 5px 3px;
  font-size: 14px;
  .title {
    flex: 1;
    color: black;
  }
  .selected {
    color: #009fcf;
  }
  .handler {
    width: auto;
  }
}
