.header {
  padding: 0 24px;
  .left {
    float: left;
  }
  .right {
    float: right;
  }
}
.content {
  min-height: calc(100vh - 64px - 68px);
}
.footer {
  text-align: center;
  background-color: #f7f7f7;
  border-top: 4px dashed #e8e8e8;
}
